body {
  background: linear-gradient(to bottom, #1e1e1e, #333);
  color: #eee;
  font-family: 'Arial', sans-serif;
}

.pr-nav {
  padding-right: 0 !important;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-color: #222;
  padding: 10px 0;
}

.nav-link {
  color: #eee;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #FFD700;
}

.nav-link.active {
  color: #FFD700 !important;
  background-color: transparent;
}


#welcome-section {
  text-align: center;
  padding: 50px 0;
  background: linear-gradient(to bottom, #2b2b2b, #444);
  color: white;
}

#welcome-section h1 {
  font-size: 3em;
  margin-bottom: 10px;
}

#welcome-section h3 {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #FFD700;
}


.pp {
  margin-bottom: 20px;
  font-size: 1.2em;
  color:#FFD700;
}

.ppicon {
  fill: #FFD700;
  margin-left: 5px;
  animation: pulse 1.5s infinite;

}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.6;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}


#projects {
  padding: 50px 0;
}

#project-hail {
  text-align: center;
  color: #eee;
  margin-bottom: 30px;
  font-size: 2em;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.project-tile {
  background: linear-gradient(to bottom, #333, #222);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: #eee;
  transition: transform 0.3s;

}

.project-tile:hover {
    transform: translateY(-5px);
}

.project-img {
  width: 100%;
  height: auto;
  display: block;
}

.code {
  color: #FFD700;
  font-family: monospace;
}

.project-tile p {
  text-align: center;
  padding: 10px;
}